TALLERP_TELEMETRY_PORT=8899

TALLERP_SPOOL_PATH=/var/lib/tallerp-telemetry/spool.db
TALLERP_SPOOL_RETENTION_HOURS=24
TALLERP_SPOOL_CRITICAL_PENDING=100000

TALLERP_API_URL=https://tallerp.com
TALLERP_TELEMETRY_TOKEN=

TALLERP_DELIVERY_BATCH_SIZE=100
TALLERP_DELIVERY_INTERVAL_SECONDS=5
TALLERP_HTTP_TIMEOUT_SECONDS=10

TALLERP_HEALTH_PORT=8080

TALLERP_JT808_DEBUG=false
